<canvas #cv [width]="cvWidth" [height]="cvHeight"></canvas>
<div>
  <ul>
    <li class="mli" *ngFor="let p of chs.drawArray; index as i">
      <div class="sep">
        <label>ID:</label><span>{{i+1}}</span>
      </div>
      <div class="sep">
        <label>Magnitude of Rotating Point:</label><span>{{p.mag()}}</span>
      </div>
      <div class="sep">
        <label>Precision:</label><span>{{p.precision}}</span>
      </div>
      <div class="sep">
        <label>Theta:</label><span>{{p.theta}}</span>
      </div>
      <div class="sep">
        <button (click)="toggleAnimation(i)"><span >{{p.animate? 'Animate' : 'Static'}}</span></button>
      </div>
      <div class="sep">
        <button (click)="onRotate(rot.value,i)"><span>Rotate</span></button><input #rot class="rot" [placeholder]='rotation' />
      </div>
      <div class="sep">
        <button (click)="toggleDot(i)"><span>Dot</span></button>
        <ul *ngIf="p.toDot" >
          <li class="dotLi" *ngFor="let p1 of chs.drawArray; index as j">
            <div *ngIf="i != j">
              <label>{{j+1}}</label>              
              <label> Dot: {{p.dot(p1.x,p1.y)}}</label>
            </div>
          </li>
        </ul>
      </div>
      <div class="sep">
        <button (click)="reset(i)"><span>Reset</span></button>
      </div>
    </li>
  </ul>
</div>