canvas{
  border:1px solid blue;
}

button{
  margin-top: 0px;
  margin-bottom: 0px;
}

.rot{
  margin-left: 5px;
  width:30px;
}

li{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.sep{
  margin: 5px 0px 5px 0px;
}
