<canvas #cv [width]="cvWidth" [height]="cvHeight"></canvas>



<!--div>
  <label><i>t = </i></label><span>{{t.toFixed(2)}}</span>
</div>
<div>
  <label>Speed = </label><span>{{this.tSpeed.toPrecision(2)}}</span>
</div>
<div>
  <label>x: </label><span>{{interPoint.x.toFixed(0)}}</span>  
</div>
<div>
  <label>y: </label><span>{{interPoint.y.toFixed(0)}}</span>  
</div-->
<div>
<div>
  <button class='up'>&#8593;</button>
</div>
<div>
  <button>&#8592;</button><button>&#8594;</button>
</div>
<div>
  <button class='down'>&#8595;</button>
</div>
</div>
